/* CSS declarations go here */
h1, h1 small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: black;
}

h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.success {
  background-color: #26b27f;
  color: white;
  border-radius: 6px;
}

.success:hover {
  background-color: #1d8761;
}

.landing h1, .landing button, .success {
  margin: 25px 0;
}

.start-guessing, .answer {
  text-align: center;
}

.question ul img {
  width: 64px;
  height: 64px;
  border-radius: 15px;
  padding: 5px;
}

.question li {
  list-style-type: none;
}

h4.quiz-answer {
  display: inline;
  margin-left: 10px;
}

ul, .answer {
  margin-top: 15px;
}




