/* CSS declarations go here */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.success {
  background-color: #26b27f;
  color: white;
  border-radius: 6px;
}

.success:hover {
  background-color: #1d8761;
}

.landing h1, .landing button {
  margin: 20px 0;
}

.start-guessing {
  text-align: center;
}