<template name="admin">
  <div class="admin container">
    <h1>Admin panel</h1>
    {{> loginButtons}}
    <h3>Here you can add quotes to our database. </h3>
    <h3>All you need to do is:</h3>
    <ol>
      <li>
        <h3>Add name and url to the squared pictures of the people.</h3>
        <h3>Remember to add people who actually said your quote as well as these who are your candidates. Make sure that they are not in the database yet.</h3>
        <a href="/admin/people" class="btn btn-success success">
          <h5>ADD PEOPLE</h5>
        </a>
      </li>
      <li>
        <h3>Add your quote. Next choose four people (correct one and 3 candidates).</h3>
        <h3>Remember to choose the correct one as first!</h3>
        <a href="/admin/quotes" class="btn btn-success success">
          <h5>ADD QUOTES</h5>
        </a>
      </li>
    </ol>
  </div>
</template>
