<template name="adminPeople">
  <div class="adminPeople container">
    <h1>Add People</h1>
    <a href="/admin"><h4>Admin panel - main page</h4></a>
    {{> loginButtons}}
    {{#if editPerson}}
      <h3>Edit</h3>
      {{> quickForm collection="People" id="updatePerson" type="update" buttonContent="Edit" doc=editPerson}}
    {{else}}
      <h3>Add person who said your quote and 3 candidates.</h3>
      <h3>Take a look below: if people are already in the database you do not have to add them again:)</h3>
      {{> quickForm collection="People" id="insertPerson" type="insert" buttonContent="Add person"}}
    {{/if}}
    <h3>People added so far to our database: {{peopleCounter}}</h3>
    <table>
      {{#each people}}
        {{> adminPerson}}
      {{/each}}
    </table>
  </div>
</template>

<template name="adminPerson">
  <tr>
    <td><img src="{{photoUrl}}" /></td>
    <td class="table-cell"><h4>{{name}}</h4></td>
    <td class="table-cell"><span title="Edit" class="glyphicon glyphicon-pencil edit"></span></td>
    <td class="table-cell"><span title="Remove" class="glyphicon glyphicon-remove remove"></span></td>
  </tr>
</template>
