<head>
  <title>Guess Who Said That</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  {{> prefetch}}
  {{> flashMessages}}
</body>

<template name="prefetch">
  {{#each resources}}
    <link type="prefetch" href="{{url}}" />
  {{/each}}
</template>
