<template name="question">
  <div class="row question">
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <h1>Who said: <small>"I no longer believe that freedom and democracy are compatible." ?</small></h1>
      <ul>
        <li><img src="/people/obama.jpg" />Barack Obama</li>
        <li><img src="/people/annan.jpg" />Kofi Annan</li>
        <li><img src="/people/thiel.jpg" />Peter Thiel</li>
        <li><img src="/people/sculley.jpg" />John Sculley</li>
      </ul>
    </div>
  </div>
</template>
