<template name="question">
  <div class="row question">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-5 col-lg-offset-4">
      <h1>Who said: "{{quote}}" ?</h1>
      <div>
        {{#each authors}}
          {{> questionAuthor}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="questionAuthor">
  <div class="author">
    <p>Try again</p>
    <a href="/answer">
      <img src="{{photoUrl}}" />
      <h4 class="quiz-answer">{{name}}</h4>
    </a>
  </div>
</template>
